div {
  font-family : Helvetica;
}

:root {
--main-color : rgb(0,114, 168);
--light-color : rgb(232, 231, 231);
}
/*
---------------------------
HEADER
---------------------------
*/
div.header {
  background-color: var(--main-color);
  color : white;
  padding: 10px;
  height: 7vh;
}

#identifier {
  text-align: left;
  font-size: 0.8em;

}
#EXDEMA {
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;

}

#date {
  text-align: right;
  font-size: 0.8em;
  font-style: italic;

}

/*
---------------------------
ENTITE CO
---------------------------
*/
div.entiteCo {
  height: 91vh;
  overflow: scroll;
  padding: 5px;
  text-align: center;
  background-color: var(--light-color);
  text-transform: capitalize;
  border-color: var(--main-color);
  line-height: 2em;
}

div.entiteCo > div {
  cursor: pointer;
}

/*
---------------------------
AFFICHER CENTRE
---------------------------
*/

div.affichCentr {
  height: 91vh;
  border-style: solid;
  border-color: var(--main-color);
  position : relative;
  display : inline-block;
  overflow: hidden;
}

div.affichCentr > div#huv {
  padding:1em;
  width: 30vh;
  height: 40vh;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgba(208, 208, 208, 0.);
  font-size: 1.3em;
  text-transform: capitalize;
  top:0; left:0;
  position : absolute;
  padding:0.4em;
  margin:0;
  text-shadow: 2px 2px 2px #000000;
  color:white;
  z-index:99;
}

img {
	border: 3px solid rgba(0,114,168,1);
  	border-radius: 10px;
  	box-shadow: 3px 3px 4px silver;
	position : absolute;
	top : 0;
	width : 100%;
	left : 0;
	z-index: -1;
}

/*
---------------------------
LOG ALARM
---------------------------
*/

div.logAlarm {
  height: 91vh;
  overflow: scroll;
  padding: 5px;
  border-style: solid;
  border-color: var(--main-color);
  font-variant-caps: all-small-caps;
}

[id*="logAlarm"]  {
  cursor: pointer;
  font-weight: bold;
}

[id*="infologAlarm"]  {
  cursor: default;
  margin-left: 30px;
  font-weight: normal;
  font-style: italic;
}

div.logAlarm > div.row > input {
  cursor: pointer;
}

#resultatLogAlarm {
  font-size: 1em;
  background-color: var(--light-color);
}

.niveau3 {
  background-color: red;
}
.niveau2 {
  background-color: orange;
}
.niveau1 {
  background-color: yellow;
}

/*
---------------------------
LIGNE ET COLONNES
---------------------------
*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
